# Maven / Gradle
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Doc
docs/
*.md

# Test
src/test/
